body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse; /* deixa as bordas juntas, o normal é "separate" */
}

tr {
    
}

td {
    padding: 8px;
    border: 1px solid black;
    text-align: center; /* alinhamento horizontal */
    /* vertical-align: middle; Alinhamento vertical */
}

