body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

caption {
    background: rgba(128, 128, 128, 0.538);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background: rgb(39, 39, 39);
}

tbody tr:nth-child(even) /* pode colocar odd = impar, e even = par ou, 2n que seria de duas em duas --> nth-child(2n) */ { 
    background: lightgray;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead, tfoot {
    background-color: rgb(39, 39, 39);
    color: white;
}

.num {
    text-align: right;
}

